.table{
    background-image: url(../IMG/descarga.jpg);
    position: absolute;
}
.titulo{
    background-color: green;
    color: orangered;
}
.sub{
    background: orange;
    color: orangered ;
}
.sub2{
    color: orangered;
}